@mixin figure($height-size, $width-size) {
    height: $height-size;
    width: $width-size;
}


.card-image {
    @include figure(auto, 25%);

    > img {
        @include figure(100%, 175%);
        border-radius: 16px;
        object-fit: cover;
    }
}