.button {
    background-color: hsl(234, 29%, 20%);
    border-radius: 8px;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;

    &:hover {
        background: linear-gradient(hsl(347.44,100%,66.27%),hsl(4, 100%, 67%));
    }
}
