*{
    margin: 0;
    padding: 0;
}

@mixin base-styles($spacing-between-elements, $padding:0){
    display: flex;
    flex-direction: column;
    gap: $spacing-between-elements;
    padding: $padding;
}

@mixin sizes($height-size, $width-size){
    height: $height-size;
    width: $width-size;
}

.infoWrapper{
    @include base-styles(24px);
}

.infoSuccessWrapper{
    @include base-styles(24px)
}

.shippingContent{
    @include base-styles(24px);
}

.cardContent-subscription{
    @include base-styles(36px, 64px 40px);

    @media screen and (max-width: 898px) {
        padding: 0;
        width: 100%;
    }
}

.cardContent-success{
    @include base-styles(32px, 24px 32px);
    @media screen and (max-width: 898px) {
        gap: 200px;
        padding: 58px 16px;
    }
}

.coverImage{
    @include sizes(100%, 50%);
    @media screen and (max-width: 898px) {
        width: 100%;
    }
    > img{
        @include sizes(100%, 100%);
        border-radius: 16px;
        object-fit: cover;
    }
}

.successList{
    > img{
        width: 16%;
        height: 96%;
        object-fit: contain;
    }
}

.mainContent{
    @include sizes(100%, 100%);
    background-color: hsl(235, 18%, 26%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item-with-icon{
    @include base-styles(16px);
    line-height: 24px;
    list-style: none;
}

.styleWrapper{
    @media screen and (max-width: 898px) {
        @include base-styles(0, 0 24px );
    }
}
