@mixin font-styles($fontWeight) {
    font-weight: $fontWeight;
    color: hsl(234, 29%, 20%);
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 90%;

    > .title {
        @include font-styles(700);
    }

    > .description {
        @include font-styles(400);
    }
}