@mixin font-styles($fontSize, $fontWeight) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: hsl(234, 29%, 20%);
    margin: 0;
}



.header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 356px;

    > .title {
        @include font-styles(56px, 700);
    }

    > .description {
        @include font-styles(16px, 400);
        line-height: 24px;
    }
}