*{
    margin: 0;
    padding: 0;
}

@mixin base-styles($spacing-between-elements, $padding:0){
    display: flex;
    flex-direction: column;
    gap: $spacing-between-elements;
    padding: $padding;
}

@mixin figure($height-size, $width-size){
    height: $height-size;
    width: $width-size;
}

.middleContent{
    @include base-styles(24px, 0 8px);
    width: 100%;
}

.middle{
    @include base-styles(20px)
}

.shippingContent{
    @include base-styles(24px);
}

.cardContent-subscription{
    @include base-styles(36px, 80px 40px);
    width: 45%;
}

.cardContent-success{
    @include base-styles(32px, 24px 32px);
    align-content: center;
}

.coverImage{
    @include figure(100%, 26%);

    > img{
        @include figure(100%, 175%);
        border-radius: 16px;
        object-fit: cover;
    }
}

.successList{
        > img{
            width: 16%;
            height: 96%;
            object-fit: contain;
        }
}

.mainContent{
    @include figure(100%, 100%);
    background-color: hsl(235, 18%, 26%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item-with-icon{
    @include base-styles(16px);
    list-style: none;
}
